body {
  background-color: gray;
  margin: 0;
  font-family: sans-serif;
}

.nav {
  width: 100%;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  
}

a {
  
  margin-right: 5%;
}

.select-bar {
  background-color: green;
  height: 35px;
  
  margin-left: 5%;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.cata {
width: 100%;
margin-top: 5%;
  
}

img{
  height: 150px;
  width: 50%;
}





.products-container {
  max-width: 30em;
  margin: auto;
}

.productss-container > div {
  border-bottom: solid 1px grey;
  padding-bottom: 1em;
  min-width: 20em;
}

.products-container > div > button {
  min-width: 4em;
}



input[type="submit"],
button {
  font-weight: bold;
  font-size: 1em;
  background: green;
  border: solid black 1px;
  padding: 0.5em;
  cursor: pointer;
}
