body {
  margin: 0;
  font-family: sans-serif;
}

.cata {
  display: flex;
  flex-direction: row;
}





.poems-container {
  max-width: 30em;
  margin: auto;
}

.poems-container > div {
  border-bottom: solid 1px grey;
  padding-bottom: 1em;
  min-width: 20em;
}

.poems-container > div > button {
  min-width: 4em;
}



input[type="submit"],
button {
  font-weight: bold;
  font-size: 1em;
  background: green;
  border: solid black 1px;
  padding: 0.5em;
  cursor: pointer;
}
